.customButton {
  background-color: rgb(62, 134, 230);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.customButton:hover {
   background-color: #298bcc;
  color: #f3f0f0;
}
